/*Start LEVEL 2b - APP1 STYLES */

#app1 {
    position: fixed;
    width: 70vw;
    height: 70vh;
    text-align: center;
    
}

#zoom {
    position: relative;
    width: 100%;
    height:70%;
    background-size: cover;
    background-position: center;
    background: no-repeat;
    margin-left: auto;
    margin-right: auto;
}

#zoomcontrols {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 75px;
}

#zoomcontrols button {
    width: 100%;
}

#controls {
    text-align: center;
}

.bgthumbs {
    display: inline-block;
    width: 75px;
    height: 75px;
    padding: 5px;
    border-radius: 100px;
    border: 5px solid #00ff99;
    background: no-repeat;
    background-size: cover;
    background-position: center;   
    margin-top: 5px; 
}

/*End LEVEL 2b - APP1 STYLES */

/*Start LEVEL 4b */
#bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-size: cover;
    background-position: bottom;
}

/*End LEVEL 4b */























